<link rel="import" href="../bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../bower_components/core-icon/core-icon.html">
<link rel="import" href="paste-service.html">
<link rel="import" href="paste-card.html">

<polymer-element name="paste-list">
  <template>
    <style>
      :host div {
        padding: 10px;
        display: block;
      }
      paper-fab {
        background-color: #e65100;
      }
      paper-fab[disabled] {
        color: #424242;
        background-color: #d4d4d4;
      }
    </style>
    <style shim-shadowdom>
      paper-spinner.yellow::shadow .circle {
        border-color: #e65100;
      }
    </style>

    <paste-service error="{{nomore}}" lastid="{{lastid}}" pastes="{{pastes}}" query="{{query}}" loading="{{loading}}"></paste-service>
    <div layout vertical center>
      <template repeat="{{paste in pastes}}">
        <paste-card url="/#/paste/{{paste.id}}" paste="{{paste.content}}" timestamp="{{paste.timestamp}}"></paste-card>
      </template>
      <div horizontal layout center-justified hidden?="{{!loading}}"><paper-spinner class="yellow" active?="{{loading}}"></paper-spinner></div>
      <paper-fab hidden?="{{loading}}" disabled?="{{nomore}}" on-tap="{{expandMore}}" icon="expand-more" title="Еще" mini></paper-fab>
    </div>
  </template>
  <script>
    Polymer({
      expandMore: function() {
        this.query = 'posts/' + this.lastid;
      }
    });
  </script>
</polymer-element>
