<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="../bower_components/paper-dropdown-menu/paper-dropdown-menu.html">
<link rel="import" href="../bower_components/paper-dropdown/paper-dropdown.html">
<link rel="import" href="../bower_components/core-menu/core-menu.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">

<polymer-element name="select-syntax" attributes="languages selected">
  <template>
  <style>
    paper-dropdown-menu:before {
      content: '#';
    }
    paper-dropdown-menu {
      margin: 0px 1rem;
      padding: 0px;
      border: none;
      font-size: 1.2rem;
      font-style: italic;
      font-weight: bold;
      color: #e65100;
    }
    paper-dropdown-menu::shadow #label {
      padding-right: 0.25rem;
    }
    paper-item {
      font-style: normal;
      font-weight: normal;
      font-size: 1rem;
      color: black;
    }
    paper-item::shadow #ripple {
      color: #e65100;
    }
    paper-item.core-selected::shadow div.button-content {
      background-color: #e65100;
      color: white;
    }
    core-menu {
      margin: 0px;
    }
  </style>
    <paper-dropdown-menu label="Код" openedIcon='' closedIcon=''>
    <paper-dropdown class="dropdown">
    <core-menu id="menu" valueattr="value" selected="{{selected}}">
          <template repeat="{{lang in languages}}">
            <paper-item value="{{lang}}">{{lang}}</paper-item>
          </template> 
        </core-menu>
      </paper-dropdown>
    </paper-dropdown-menu> 
  </template>
  <script>
    Polymer({
      domReady: function() {
        this.newSyntax = this.selected;
        this.$.menu.addEventListener('core-select', function(e) {
            if ( this.newSyntax != this.selected ) {
              this.newSyntax = this.selected;
              this.fire('change-syntax');
            }
          });
      }
    });
  </script>
</polymer-element>
